<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Broadcast and Emit</title>


  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script>

    var app = angular.module('demoApp', []);
    app.controller('EventController', function($scope) {
      $scope.count = 0;
      $scope.$on('MyEvent', function() {
        $scope.count++;
      });
    });
  </script>



</head>
<body ng-app="demoApp">
    <div ng-controller="EventController">
    Root scope <tt>MyEvent</tt> count: {{count}}
    <ul>
      <li ng-repeat="i in [1]" ng-controller="EventController">
        <button ng-click="$emit('MyEvent')">$emit('MyEvent')</button>
        <button ng-click="$broadcast('MyEvent')">$broadcast('MyEvent')</button>
        <br><br>
        Middle scope <tt>MyEvent</tt> count: {{count}}
        <ul>
          <li ng-repeat="item in [1, 2]" ng-controller="EventController">
            Leaf scope <tt>MyEvent</tt> count: {{count}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</body>
</html>
