<!doctype html>
<html ng-app="watchApp">
   <body>
           <h1>Reference, Equality, and Collection Watches</h1>
        <div ng-controller="WatchController">

            <div ng-repeat="item in items">{{item}}</div>
            <br />

                Reference Watch:
                <div>{{referenceCount}}</div>

                Equality Watch:
                <div>{{equalityCount}}</div>

                Collection Watch:
                <div>{{collectionCount}}</div>

                <button ng-click="addItem()">Add</button>
        </div>

          <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
        <script>

            var app = angular.module('watchApp', []);

            app.controller('WatchController', ['$scope', function WatchController($scope){

                $scope.items = [];
                $scope.referenceCount = 0;
                $scope.equalityCount = 0;
                $scope.collectionCount = 0;

                $scope.addItem = function() {
                    $scope.items.push("Item " + $scope.items.length);
                }

                // Checks by reference
                $scope.$watch("items", function(){
                    $scope.referenceCount++;
                }, false);

                // Checks by value
                $scope.$watch("items", function(){
                    $scope.equalityCount++;
                }, true);

                // Checks by value
                $scope.$watchCollection("items", function(){
                    $scope.collectionCount++;
                });

            }]);
        </script>
   </body>
</html>
